<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>examsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginSrv</display-name>
    <servlet-name>loginSrv</servlet-name>
    <servlet-class>loginSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSrv</servlet-name>
    <url-pattern>/loginSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newExamSrvlet</display-name>
    <servlet-name>newExamSrvlet</servlet-name>
    <servlet-class>newExamSrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newExamSrvlet</servlet-name>
    <url-pattern>/newExamSrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTeacherSrv</display-name>
    <servlet-name>EditTeacherSrv</servlet-name>
    <servlet-class>EditTeacherSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeacherSrv</servlet-name>
    <url-pattern>/EditTeacherSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherSrv</display-name>
    <servlet-name>DeleteTeacherSrv</servlet-name>
    <servlet-class>DeleteTeacherSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherSrv</servlet-name>
    <url-pattern>/DeleteTeacherSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudSrv</display-name>
    <servlet-name>addStudSrv</servlet-name>
    <servlet-class>addStudSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudSrv</servlet-name>
    <url-pattern>/addStudSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditstudSrv</display-name>
    <servlet-name>EditstudSrv</servlet-name>
    <servlet-class>EditstudSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditstudSrv</servlet-name>
    <url-pattern>/EditstudSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudSrv</display-name>
    <servlet-name>DeleteStudSrv</servlet-name>
    <servlet-class>DeleteStudSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudSrv</servlet-name>
    <url-pattern>/DeleteStudSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudGradeSrv</display-name>
    <servlet-name>ViewStudGradeSrv</servlet-name>
    <servlet-class>ViewStudGradeSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudGradeSrv</servlet-name>
    <url-pattern>/ViewStudGradeSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>noteSrvlet</display-name>
    <servlet-name>noteSrvlet</servlet-name>
    <servlet-class>noteSrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noteSrvlet</servlet-name>
    <url-pattern>/noteSrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addexamSrvlt</display-name>
    <servlet-name>addexamSrvlt</servlet-name>
    <servlet-class>addexamSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addexamSrvlt</servlet-name>
    <url-pattern>/addexamSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignServlet</display-name>
    <servlet-name>AssignServlet</servlet-name>
    <servlet-class>AssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignServlet</servlet-name>
    <url-pattern>/AssignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNoteServlet</display-name>
    <servlet-name>SendNoteServlet</servlet-name>
    <servlet-class>SendNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNoteServlet</servlet-name>
    <url-pattern>/SendNoteServlet</url-pattern>
  </servlet-mapping>
</web-app>